/* -----------
Theme Name: decyfer-divi 
Description: decyfer-divi is a child theme of Divi built for Decyfer
Description: A clean, responsive wordpress child theme
Version: 0.1.1
Author: <a href="https://mannasites.com">Mannasites</a>
Author URI: mannasites.com
Template: Divi
-------------- */

@font-face {
    font-family: 'KozGoPr6N-Regular-AlphaNum';
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url('fonts/KozGoPr6N-Regular-AlphaNum.eot');
    src: url('fonts/KozGoPr6N-Regular-AlphaNum.eot?#iefix') format('embedded-opentype'), url('fonts/KozGoPr6N-Regular-AlphaNum.woff') format('woff'), url('fonts/KozGoPr6N-Regular-AlphaNum.ttf') format('truetype'), url('fonts/KozGoPr6N-Regular-AlphaNum.svg#Holmen-Regular') format('svg');
    unicode-range: U+0020-25CA;
}
.et_pb_shop_0.et_pb_shop .woocommerce ul.products li.product {
    font-family: 'KozGoPr6N-Regular-AlphaNum';
}
#top-menu .menu-item-has-children > a:first-child:after {
    content: url(images/menu_icon.png) !important;
    font-family: none;
    left: 62px;
}
#top-menu li.mega-menu.mega-menu-parent li > .sub-menu {
    width: 50% !important;
}
#top-menu li.mega-menu.mega-menu-parent li > .sub-menu {
    width: 50% !important
}
#top-menu li.mega-menu > ul {
    width: 45%;
    background-color: #ffffff !important;
    background-image: url(images/menu_back.jpg)!important;
    background-position: top right !important;
    background-size: 50% !important;
    background-repeat: no-repeat !important;
    padding: 10px 0 0;
}
.product-color {
    color: #676D75;
    font-size: 20px;
    line-height: 26px;
    margin: 3px 0;
}
.woocommerce ul.products li.product:hover .product-color {
    font-weight: bold;
    text-decoration: underline;
}
#top-menu li.mega-menu > ul > li > a:first-child {
    font-weight: normal !important;
}
.et_header_style_split #et-top-navigation nav ul li .sub-menu a {
    padding-bottom: 8px !important;
}
.blank-product {
    height: 150px;
}
.sku_wrapper {
    display: none;
}
.thum_image {
    width: 70%;
    padding: 15px 0 !important;
}
.thum_image li {
    border: 1px solid #000000;
    display: inline-block;
    margin: 1%;
    text-align: center;
    width: 22%;
}
.thum_image li img {
    max-width: 70%;
    padding-top: 3px;
}
.woocommerce div.product div.images img {
    display: table;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
}
.bx-wrapper .bx-viewport {
    box-shadow: none;
    border: none;
}
.image_left_slider ul li {
    list-style: none;
    border: 2px solid #666D75;
}
.image_left_slider {
    float: left;
    width: 20%;
}
div.images .woocommerce-main-image {
    width: 80%;
    float: right;
}
.image_left_slider .bx-wrapper img {
    max-width: 70%;
    margin: 0 auto;
}
.woocommerce-page div.product div.images {
    width: 55%;
}
.woocommerce-page div.product div.summary {
    width: 40%;
}
.image_left_slider ul {
    padding-left: 0 !important;
}
.bx-wrapper .bx-controls-direction a.bx-prev {
    top: -7px;
    left: 40px;
}
.bx-wrapper .bx-controls-direction a.bx-next {
    bottom: -35px;
    left: 40px;
    top: auto;
}
.bx-wrapper .bx-controls-direction a.disabled {
    display: block;
}
.bx-wrapper .bx-prev {
    background: url("images/prev_icon.png") no-repeat !important;
}
.bx-wrapper .bx-next {
    background: url("images/next_icon.png") no-repeat !important;
}
.woocommerce-tabs.wc-tabs-wrapper {
    display: none;
}
.social_share {
    font-size: 23px;
    margin: 20px 0 30px;
}
span.share {
    margin-right: 10px;
}
.social_share a {
    margin-right: 10px;
    color: #696D76;
}
.custom_sku {
    font-size: 18px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000000;
}
.tagged_as,
.tagged_as a {
    color: #000;
}
.single_product_page_title {
    padding-top: 30px;
}
.single_product_page_title h1 {
    color: #000;
    font-size: 50px;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
}
.single_product_page_title h3 {
    color: #000;
    font-size: 22px;
    padding-top: 8px;
    text-align: center;
}
.woocommerce .woocommerce-breadcrumb {
    margin-bottom: 40px;
}
.single-product div.product {
    padding: 40px 0 40px;
    width: 100%;
    float: left;
}

@media (min-width: 1100px) {} @media (min-width: 768px) and (max-width: 990px) {} @media (max-width: 768px) {
    .image_left_slider {
        width:40%;
    }
    div.images .woocommerce-main-image {
        width: 59%;
    }
    .woocommerce-page div.product div.images,
    .woocommerce-page div.product div.summary {
        width: 100%;
        float: left;
    }
    .woocommerce-page div.product div.summary {
        padding-top: 30px;
    }
}
@media (max-width: 480px) {}
